body{

    color: white;
    font-family:'Segoe UI'; 
}

a:visited{
    color:white;
}


.container {
    text-align: center;
    align-content: center;
        
background: #040d3d;
margin: 2em auto;
padding: 0.8em;
width: 30em;
border: 2px solid #000;

}

   









.login-wrapper {

text-align: center;
}
label {
    
display: block;
margin-bottom: 5px;
font-weight: bold;
}
.login-wrapper label {
display: inline-block;
}


 input[ type="text"],input[ type="password"] ,textarea{
    text-align: center;
    width:200px;
    height:12px;
    background:none;
    color: white;
  border:2px  solid rgb(187, 255, 0) ;
   border-radius:12px;
   transition:0.25s;
      
}

button[type="submit"]{

text-align: center;
width:200px;
background: none;
border:2px solid yellow;
border-radius: 12px;
color:white;
transition: 0.25s;


}


button[type="submit"]:hover{

    width:300px;
    
    }
    



.login-wrapper input[type="text"]:focus,input[type="password"]:focus
{width:300px;
height:30px;}









input {
margin-bottom: 10px;
}
button {
padding: 5px;
margin: 10px 0;
}
.flash, .error {
background: rgb(252, 4, 4);
color: #fff;
padding: 0.5em;
}
